<% provide :title, t(".home") %>
<h1><%= t ".sample_app" %></h1>
<p>
  <%= t ".this_is" %>
  <%= link_to t(".rails_tutorial"), "http://www.railstutorial.org/" %>
  <%= t ".sample_application" %>
</p>
